<!doctype html>
<html ng-app="GroupAdmin">
<head>
    <title>Wizard Admin Console</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/public/css/ace.min.css"/>
    <link rel="stylesheet" href="/public/css/ace-responsive.min.css"/>
    <link rel="stylesheet" href="/public/css/ace-skins.min.css"/>
    <script src="/public/js/angular.js"></script>
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script src="/public/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/public/js/module/groupOperation.js"></script>
    <script type="text/javascript" src="/public/js/module/widgetOperation.js"></script>


    <style type="text/css">
        #editor {
            position: absolute;
            width: 100%;
            height: 768px;
            font-size: 14px;
        }

    </style>
    <script type="text/javascript">
        var app=angular.module('GroupAdmin', []);
        app.factory('groupOp', groupOperation);
        app.factory('widgetOp', widgetOperation);

        function Controller($scope, $http, groupOp,widgetOp) {
            function getURLParameter(name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;
            }

            var refresh = function () {
                groupOp.loadAll(function (data) {
                    $scope.groups = data;
                    if ($scope.groups && $scope.groups.length > 0) {
                        $scope.currentGroup = $scope.groups[0];
                    }
                })
            }


            $scope.createGroup = function (groupToCreate) {
                groupToCreate.widgets = [];
                groupOp.save(groupToCreate, function (data) {
                    refresh();
                    $scope.currentGroup = data;
                })
            }

            $scope.viewGroup = function (group) {
                $scope.currentGroup = group;
            }

            $scope.addWidget = function (widgetToAdd) {
                $scope.currentGroup.widgets.push(widgetToAdd);
                groupOp.save($scope.currentGroup, function (data) {
                    $scope.currentGroup = data;
                    widgetOp.save({name:widgetToAdd},function(){
                    })
                });
            }

            $scope.viewWidget = function (widget){
                window.open('/widget.html?name='+widget);
            }

            $scope.deleteWidget=function(widget){
                $scope.currentGroup.widgets.splice($scope.currentGroup.widgets.indexOf(widget),1);
                groupOp.save($scope.currentGroup,function(data){
                    $scope.currentGroup = data;
                });
            }


            refresh();

        }
    </script>
</head>
<body ng-controller="Controller">
<div class="navbar">
    <div class="navbar-inner" style="background: rgb(66, 66, 66);">
        <div class="container-fluid navbar-conntent">
            <a class="brand" href="#">Wizard</a>
        </div>
    </div>
</div>
<div class="container-fluid" id="main-container">
    <div id="sidebar">
        <div id="sidebar-shortcuts">
            <div id="sidebar-shortcuts-large">
                <button class="btn btn-small btn-inverse" data-toggle="modal" href="#addGroupDialog">
                    <i class="icon-plus"></i>
                </button>

                <button class="btn btn-small btn-inverse">
                    <i class="icon-pencil"></i>
                </button>

                <button class="btn btn-small btn-inverse">
                    <i class="icon-group"></i>
                </button>

                <button class="btn btn-small btn-inverse">
                    <i class="icon-cogs"></i>
                </button>
            </div>
        </div>
        <ul class="nav nav-list">
            <li ng-repeat="group in groups">
                <a ng-click="viewGroup(group)">{{group.name}}</a>
            </li>
        </ul>
    </div>
    <div id="main-content">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Home</a>

							<span class="divider">
								<i class="icon-angle-right"></i>
							</span>
                </li>
                <li class="active">{{currentGroup.name}}</li>
            </ul>
            <!--.breadcrumb-->

            <div id="nav-search">
                <form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="input-small search-query"
                                       id="nav-search-input" autocomplete="off">
								<i class="icon-search" id="nav-search-icon"></i>
							</span>
                </form>
            </div>
            <!--#nav-search-->
        </div>
        <div id="main" class="clearfix">

            <div class="" id="page-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="span8">Widget</th>
                        <th class="span3">Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="widget in currentGroup.widgets">
                        <td>{{widget}}</td>
                        <td class="">
                            <button type="submit" class="btn btn-mini" ng-click="viewWidget(widget)">view
                            </button>
                            <button type="submit" class="btn btn-mini"
                                    ng-click="deleteWidget(widget)">delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="">
                    <form class="form-inline">
                        <a class="btn btn-small" href="#addWidgetDialog"  role="button" data-toggle="modal">add</a>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
<div id="addGroupDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <h3>Create Group</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label class="control-label">groupName:</label>

            <div class="controls">
                <input type="text" ng-model="groupToCreate.name" class="input-xlarge">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">close</button>
        <button class="btn btn-small btn-primary" data-dismiss="modal" aria-hidden="true"
                ng-click="createGroup(groupToCreate)">
            create
        </button>
    </div>
</div>
<div id="addWidgetDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <h3>Add Widget</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label class="control-label">widgetName:</label>

            <div class="controls">
                <input type="text" ng-model="widgetToAdd" class="input-xlarge">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">close</button>
        <button class="btn btn-small btn-primary" data-dismiss="modal" aria-hidden="true"
                ng-click="addWidget(widgetToAdd)">
            create
        </button>
    </div>
</div>

</body>
</html>