<!doctype html>
<html ng-app>
<head>
    <title>Wizard - Site Config</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/public/js/angular.js"></script>
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <style>
        .container {
            width: 1024px;
            margin-bottom: 30px;
        }
        textarea {
            width:400px;
            height:150px;
        }
    </style>
    <script type="text/javascript">
        var config={};
        function Controller ($scope,$http) {
            function getURLParameter(name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
            }
            var siteName=getURLParameter("name");
            var loadSite=function(){
                $http.get("/api/site/"+siteName)
                        .success(function(data) {
                            $scope.site=data;
                        }).error(function(data) {
                            alert("server error");
                        });
            }

            loadSite();

            var updateSite=function(){
                $http.post("/api/site/",$scope.site)
                        .success(function(data) {
                        }).error(function(data) {
                            alert("server error");
                        });
            }

            $scope.renderSite=function(mode){
                if($scope.paramString==undefined){
                    $scope.paramString='{}';
                }
                var body={
                    param:JSON.parse($scope.paramString),
                    site:$scope.site
                }
                $http.post("/api/site-output/"+mode,body)
                        .success(function(data) {
                            $scope[mode]=data;
                            updateSite();

                        }).error(function(data) {
                            alert("server error");
                        });
            }
        }
    </script>
</head>
<body ng-controller="Controller">
<div id="wrap">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-conntent">
                <a class="brand" href="#">Wizard</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="control-group">
            <h4>Config Param:</h4>
            <input type="text"  ng-model="paramString" placeholder="">
        </div>
        <div class="control-group">
            <h4>Config Rule:</h4>
            <textarea type="text"  ng-model="site.rule" placeholder=""></textarea>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li><a href="#display" data-toggle="tab" ng-click="renderSite('display')">Display Mode</a></li>
            <li><a href="#config" data-toggle="tab" ng-click="renderSite('config')">Config Mode</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" ng-bind-html-unsafe="display" id="display">
            </div>

            <div class="tab-pane" id="config" ng-bind-html-unsafe="config">

            </div>
        </div>
    </div>
    <div class="container row">
        <div class="span6">
            <form>
                <fieldset>
                    <legend>Display</legend>
                    <label>code</label>
                    <textarea rows="5" ng-model="site.modes.display.code"></textarea>
                    <label>template</label>
                    <textarea ng-model="site.modes.display.template" rows="5"></textarea>
                    <label>script</label>
                    <textarea ng-model="site.modes.display.script" rows="5"></textarea>

                </fieldset>
            </form>
        </div>
        <div class="span6">
            <form>
                <fieldset>
                    <legend>Config</legend>
                    <label>code</label>
                    <textarea rows="5" ng-model="site.modes.config.code"></textarea>
                    <label>template</label>
                    <textarea ng-model="site.modes.config.template" rows="5"></textarea>
                    <label>script</label>
                    <textarea ng-model="site.modes.config.script" rows="5"></textarea>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
