<!doctype html>
<html ng-app="AdminConsole">
<head>
    <title>Wizard Admin Console</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/ace.min.css"/>
    <link rel="stylesheet" href="/public/css/ace-responsive.min.css"/>
    <link rel="stylesheet" href="/public/css/ace-skins.min.css"/>
    <script type="text/javascript" src="/public/js/js-yaml.js"></script>
    <script type="text/javascript" src="/public/js/angular.js"></script>
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/ace-builds/src-noconflict/ace.js"></script>
    <script type="text/javascript" src="/public/js/module/widgetOp.js"></script>

    <style type="text/css">
        #editor {
            position: absolute;
            width: 100%;
            height: 768px;
            font-size: 14px;
        }
    </style>
    <script type="text/javascript">
        angular.module('AdminConsole', []).factory('op', widgetOperation);

        function Controller($scope, op) {
            function getURLParameter(name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;
            }


            var loadWidget = function () {
                var widgetName = getURLParameter("name");
                op.load(widgetName,function(data){
                    $scope.widget = data;
                    $scope.currentEdit = "code";
                    $scope.viewCode("code");
                });
            }

            var initEditor = function () {
                $scope.themes = ["eclipse", "textmate", "cobalt", "monokai", "github", "clouds", "chaos", "twilight", "dawn", "terminal"];
                $scope.editor = ace.edit("editor");
                var theme=localStorage.getItem("editor:theme")||"eclipse";
                $scope.chooseTheme(theme);
                $scope.paramScript=localStorage.getItem("editor:preview:paramScript")||"";
                $scope.stylesheet=localStorage.getItem("editor:preview:stylesheet")||"";

            }

            $scope.chooseTheme = function (theme) {
                $scope.editor.setTheme("ace/theme/" + theme);
                localStorage.setItem("editor:theme",theme);
            }


            $scope.viewCode = function (codeType) {
                //save content to model
                if (codeType != $scope.currentEdit) {
                    updateModel();
                }
                //change editor mode
                if (codeType == "code") {
                    $scope.editor.getSession().setMode("ace/mode/groovy");
                } else if (codeType == "template") {
                    $scope.editor.getSession().setMode("ace/mode/html");
                } else if (codeType == "script") {
                    $scope.editor.getSession().setMode("ace/mode/javascript");
                } else if (codeType == "config") {
                    $scope.editor.getSession().setMode("ace/mode/yaml");
                }

                //change editor content
                if (codeType == "config") {
                    var content = jsyaml.dump({layoutName: $scope.widget.layoutName, layoutRule: $scope.widget.layoutRule});
                    $scope.editor.setValue(content);
                } else {
                    $scope.editor.setValue($scope.widget.modes.display[codeType]);
                }
                $scope.editor.gotoLine(1);
                $scope.currentEdit = codeType;
            }

            var updateModel = function () {
                if ($scope.editor.getValue() != "") {
                    if ($scope.currentEdit == "config") {
                        var config = jsyaml.load($scope.editor.getValue());
                        $scope.widget.layoutName = (config && config.layoutName) || "";
                        $scope.widget.layoutRule = (config && config.layoutRule) || "";
                    } else {
                        $scope.widget.modes.display[$scope.currentEdit] = $scope.editor.getValue();
                    }
                }
            }


            $scope.updateWidget = function () {
                updateModel();
                op.commit($scope.widget,"ltebean",$scope.comment,function(data){
                    showToolTip($("#save-btn"), {title: 'saved', trigger: 'manual', placement: "bottom"})
                });
            }

            var showToolTip = function (el, options) {
                el.tooltip(options).tooltip('show');
                setTimeout(function () {
                    el.tooltip('hide');
                }, 2000)
            }

            $scope.preview = function (mode) {
                updateModel();
                op.render($scope.paramScript,$scope.widget,mode,function(data){
                    var w = window.open("blank");
                    w.document.write(data);
                    var stylesheet="<link rel='stylesheet' href='"+$scope.stylesheet+"'/>"
                    w.document.write(stylesheet);
                    localStorage.setItem("editor:preview:paramScript",$scope.paramScript);
                    localStorage.setItem("editor:preview:stylesheet",$scope.stylesheet);
                })
            }

            $scope.loadHistory = function (page) {
                op.loadHistory($scope.widget.name,page,function(data){
                    if (page == 0) {
                        $scope.histories = [];
                    }
                    $scope.histories = $scope.histories.concat(data);
                })
            }

            $scope.revertToHistory = function (history) {
                $scope.widget = history.widget;
                $scope.currentEdit = "code";
                $scope.viewCode("code");
            }

            var init=function (){

            }

            loadWidget();
            initEditor();
        }
    </script>
</head>
<body ng-controller="Controller">
<div class="navbar">
    <div class="navbar-inner" style="background: rgb(66, 66, 66);">
        <div class="container-fluid navbar-conntent">
            <a class="brand" href="#">Wizard</a>
            <ul class="nav ace-nav pull-right">
                <li class="grey">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-headphones"></i>
                        Theme
                    </a>

                    <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
                        <li class="nav-header">
                            <i class="icon-warning-sign"></i>Choose Theme
                        </li>
                        <li ng-repeat="theme in themes">
                            <a href="javascript:;" ng-click="chooseTheme(theme)">{{theme}}</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid" id="main-container">
    <div id="sidebar">
        <ul class="nav nav-list">
            <li>
                <a ng-click="viewCode('code')">{{widget.name}}.groovy</a>
            </li>
            <li>
                <a ng-click="viewCode('template')">{{widget.name}}.ftl</a>
            </li>
            <li>
                <a ng-click="viewCode('script')">{{widget.name}}.js</a>
            </li>
            <li>
                <a ng-click="viewCode('config')">{{widget.name}}.widget</a>
            </li>
        </ul>
    </div>
    <div id="main-content">
        <div id="breadcrumbs">
            <div id="sidebar-shortcuts">
                <div id="sidebar-shortcuts-large" style="text-align:left;padding-left:3px;">
                    <button id="save-btn" data-toggle="modal" href="#submitDialog" class="btn btn-small btn-inverse">
                        <i class="icon-ok"></i>
                    </button>
                    <button id="preview-btn" data-toggle="modal" href="#previewDialog"
                            class="btn btn-small btn-inverse">
                        <i class="icon-picture"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-caret dropdown-closer">
                        <li class="nav-header">
                            <i class="icon-warning-sign"></i>Choose Theme
                        </li>
                    </ul>
                    <button ng-click="loadHistory(0)" id="revert-btn" data-toggle="dropdown"
                            class="dropdown-toggle btn btn-small btn-inverse">
                        <i class="icon-retweet"></i>
                    </button>
                    <ul class="pull-left dropdown-menu dropdown-caret dropdown-closer" style="width:300px;">
                        <li class="nav-header">
                            <i class="icon-warning-sign"></i>Choose Version
                        </li>
                        <li ng-repeat="history in histories">
                            <a href="#" ng-click="revertToHistory(history)">
                                <div class="clearfix">
                                    <span class="pull-left">{{history.comment}}</span>
                                    <span class="pull-right badge badge-info">{{history.author}}</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <button id="delete-btn" class="btn btn-small btn-inverse">
                        <i class="icon-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div style="position: relative;padding:0px" id="page-content">
            <div id="editor"></div>
        </div>
    </div>
</div>
<div id="previewDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <h3>Config Param</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label class="control-label">param script:</label>
            <div class="controls">
                <textarea style="height: 100px;width:300px;" ng-model="paramScript"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">stylesheet:</label>
            <div class="controls">
                <input type="text" ng-model="stylesheet" class="input-xlarge">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">close</button>
        <button class="btn btn-small btn-primary" data-dismiss="modal" aria-hidden="true"
                ng-click="preview('display')">preview
        </button>
    </div>
</div>
<div id="submitDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <h3>Enter Comment</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label class="control-label">comment:</label>

            <div class="controls">
                <input type="text" ng-model="comment" class="input-xlarge">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">close</button>
        <button class="btn btn-small btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="updateWidget()">
            submit
        </button>
    </div>
</div>
</body>
</html>